{% extends 'layout.html'%}

{% block content %}

{% include '_messages.html'%}
<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center h1 text-white bg-dark bg-gradient" style="text-shadow: 2px 3px 3px black;
        font-family:Verdana; height: 55px; border-radius: 5px; margin-top: 5px;">Add a product</h2>
        {% from "_formhelpers.html" import render_field %}
        <form action="" method="POST" enctype="multipart/form-data">
                        
            {{ render_field(form.name, class='form-control', placeholder='Add product name') }}
            {{ render_field(form.price, class='form-control', placeholder='Add product price') }}
            {{ render_field(form.discount, class='form-control', placeholder='Add product discount') }}
            {{ render_field(form.stock, class='form-control', placeholder='Add product stock') }}
            <label for="brand">Add a brand</label>
            <select name="brand" id="brand" class="form-control" required>
                <option value="">Select a brand</option>
                {% for brand in brands %}
            <option value="{{brand.id}}">{{brand.name}}</option>
                {% endfor %}
            </select>

            <label for="category">Add a category</label>
            <select name="category" id="category" class="form-control" required>
                <option value="">Add a category</option>
                {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
            </select>

            {{ render_field(form.colors, class='form-control', placeholder='Add product colors') }}
            {{ render_field(form.discription, class='form-control', placeholder='Add product discription', rows='10') }}

            <div class="container">
                <div class="row">
                    <div class="col-auto .mr-auto">{{ render_field(form.image_1, class='form-control', required=True)}}</div>
                    <div class="col-auto .mr-auto">{{ render_field(form.image_2, class='form-control', required=True)}}</div>
                    <div class="col-auto .mr-auto">{{ render_field(form.image_3, class='form-control', required=True)}}</div>
                </div>
            </div>

        <button type="submit" class="btn btn-outline-success" style="margin-left: 15px;">Add product</button>

        </form>
    </div>
    <div class="col-md-2"></div>
</div>
<!--FOOTER-->
<footer class="text-centert"  style="margin-top: 20%;">
    <div class="text-center p-3" style="color: rgb(240, 240, 240); text-shadow: 0px 2px 2px rgb(0, 1, 2);">
      © 2022 Designed by
      <a class="text-center" href="http://www.github.com/eduardoaoc" style="color: rgb(240, 240, 240); font-style: bold; 
      font-size: 20px; text-shadow: 0px 2px 2px rgb(0, 1, 2);">Eduardo A.</a>
    </div>
</footer>
{% endblock content %}
