{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm table-hover">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Qnt</th>
                <th>%</th>
                <th>Discount</th>
                <th>Subtotal</th>
                <th>Update</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for key, product in session['Shoppingcart'].items() %}

                {% set discount =  "%0.2f" | format((product.discount/100) * product.price|float) %}

                <tr>

                    <td>{{loop.index}}</td>                  
                    <td><img src="{{url_for('static')}}" alt=""></td>
                    <td><a href="/">{{product.name}}</a></td>                  
                    <td>{{product.color}}</td>
                    <td>${{product.price}}</td>
                    <td>{{product.quantity}}</td>

                    {% if product.discount > 0 %}

                    <td>-{{product.discount}}%</td>
                    <td>-${{discount}}</td>     

                    {% else %}       
                    <td></td>
                    {% endif %}     

                    {% set subtotal = product.quantity|int * product.price|float %}

                    <td>${{"%.2f"|format((subtotal|float) - discount|float)}}</td>
                    <td><a href="#" class="btn btn-sm btn-info" style="box-shadow: 0px 3px 3px rgb(107, 107, 107);">Update</a></td>
                    <td><a href="#" class="btn btn-sm btn-danger" 
                    method="POST" type="submit" class="btn btn-sm btn-info" style="box-shadow: 0px 3px 3px rgb(107, 107, 107);">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-sm">
            <tr>
                <td><a href="/" class="btn btn-sm btn-outline-dark" style="box-shadow: 0px 3px 3px rgb(107, 107, 107);">Continue shopping</a></td>
                <td width="30%"></td>
                <td colspan="3"><h5 style="margin-left: 20%; color: red; text-shadow: 0px 1px 2px rgb(110, 110, 110);">-${{tax}} OFF</h5></td>
                <td colspan="3"><h5 style="color: rgb(3, 117, 3); margin-right: 130px; text-shadow: 0px 1px 2px rgb(110, 110, 110);">Total: ${{total}}</h5></td>
            </tr>
        </table>

    </div>
   </div>
</div>
<!--FOOTER-->
<footer class="text-centert" style="margin-top: 20%;">
    <div class="text-center p-3" style="color: rgb(240, 240, 240); text-shadow: 0px 2px 2px rgb(0, 1, 2);">
      © 2022 Designed by
      <a class="text-center" href="http://www.github.com/eduardoaoc" style="color: rgb(240, 240, 240); font-style: bold; 
      font-size: 20px; text-shadow: 0px 2px 2px rgb(0, 1, 2);">Eduardo A.</a>
    </div>
</footer>
{% endblock content %}