{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<!-- PRODUTOS POR MARCA -->
<div class="container" style="margin-top: 15px;">
    <div class="row">
    {% if brand %}    
        {% for b in brand.items %}
        <div class="col-md-3 mt-3">
            <div class="card" style="box-shadow: 0px 3px 3px rgb(152, 152, 152); margin-top: 20px; max-height: 400px;">
                <h4 class="text-center" style="margin-top: 10px; ">{{b.name}}</h4>
                <img src="{{url_for('static', filename='images/' + b.image_1)}}" alt="" height="180" style="margin-top: 10px;">
                <div class="card-body"> 
                    {% if b.discount > 0 %}
                        <p class="text-center" style="text-shadow: 1px 1px 1px grey; color: red; font-weight: bold;  margin-bottom: 5px; font-size: 25px;">-{{b.discount}}%</p>
                    {% endif %}
                    <h5 class="text-center" style="text-shadow: 0px 0px 0px grey; font-size: 150%; margin-bottom: 55px; z-index: -1;">{{b.price}}$</h5>
                </div>
                <div class="card-footer" style="min-height: 60px;">
                    <a href="{{url_for('single_page', id=b.id)}}"  class="float-left btn btn-sm btn-primary" style="box-shadow: 0px 3px 3px rgb(107, 107, 107);">Details</a>
                    <form action="{{url_for('AddCart')}}" method="post">
                        <input type="hidden" name="product_id" value="{{b.id}}">
                        <button type="submit"  class="float-right btn btn-sm btn-success" style="box-shadow: 0px 3px 3px rgb(107, 107, 107);">Add Cart</button>                       
                        <input type="hidden" name="quantity" id="" value="1" min="1" max="{{b.stock}}">
                        {% set colors = b.colors.split(',') %}                       
                        <select name="colors" id="" style="visibility: hidden;">
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <br>
    <!--BOTÕES/NÚMEROS DE PÁGINAS (MARCA)-->
    <div class="row">
        <div class="col text-center">
        {% if brand.has_prev%}
        <a href="{{url_for('get_brand', id=get_b.id ,page=brand.prev_num)}}" class="btn btn-dark btn-sm mt-4" style="box-shadow: 0px 3px 3px rgb(152, 152, 152);">Previous</a>
        {% endif %}
        {% if brand.total>8 %}
        {% for page_num in brand.iter_pages(left_edge=1,right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if brand.page == page_num %}
                    <a href="{{url_for('get_brand', id=get_b.id,page=page_num)}}" 
                    class="btn btn-outline-dark btn-sm mt-4" style="box-shadow: 0px 3px 3px rgb(152, 152, 152);">{{page_num}}</a>
                {% else %}
                    <a href="{{url_for('get_brand', id=get_b.id, page=page_num)}}" 
                    class="btn btn-outline-dark btn-sm mt-4" style="box-shadow: 0px 3px 3px rgb(152, 152, 152);">{{page_num}}</a>
                {% endif %}
            {% else %}
            ...
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if brand.has_next%}
        <a href="{{url_for('get_brand', id=get_b.id ,page=brand.next)}}" 
        class="btn btn-dark btn-sm mt-4">Next</a>
        {% endif %}
    </div>
    <br>
    <!-- PRODUTOS POR CATEGORIA -->
    <div class="row">
    {% elif get_cat_prod %}
    {% for get_cat in get_cat_prod.items %}
        <div class="col-md-3 mt-3" style="margin-left: 0%;">
            <div class="card" style="box-shadow: 0px 3px 3px rgb(152, 152, 152); margin-top: 20px; max-height: 400px;">
                <h4 class="text-center" style="margin-top: 10px;">{{get_cat.name}}</h4>
                <img src="{{url_for('static', filename='images/' + get_cat.image_1)}}" alt="" height="180" style="margin-top: 10px;">
                <div class="card-body"> 
                    {% if get_cat.discount > 0 %}
                        <p class="text-center" style="text-shadow: 1px 1px 1px grey; color: red; font-weight: bold;  margin-bottom: 5px; font-size: 25px;">-{{get_cat.discount}}%</p>
                    {% endif %}
                    <h5 class="text-center" style="text-shadow: 0px 1px 1px grey; font-size: 150%; margin-bottom: 55px; z-index: -1;">{{get_cat.price}}$</h5>
                </div>          
                <div class="card-footer" style="min-height: 60px;">
                    <a href="{{url_for('single_page', id=get_cat.id)}}"  class="float-left btn btn-sm btn-primary" style="box-shadow: 0px 3px 3px rgb(107, 107, 107);">Details</a>
                    <form action="{{url_for('AddCart')}}" method="post">
                        <input type="hidden" name="product_id" value="{{get_cat.id}}">
                        <button type="submit"  class="float-right btn btn-sm btn-success" style="box-shadow: 0px 3px 3px rgb(107, 107, 107);">Add Cart</button>                       
                        <input type="hidden" name="quantity" id="" value="1" min="1" max="{{get_cat.stock}}">
                        {% set colors = get_cat.colors.split(',') %}                       
                        <select name="colors" id="" style="visibility: hidden;">
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--BOTÕES/NÚMEROS DE PÁGINAS (CATEGORIA)-->
    <div class="row">
        <div class="col text-center">
        {% if get_cat_prod.has_prev%}
        <a href="{{url_for('get_category', id=get_cat.id ,page=get_cat_prod.prev_num)}}" class="btn btn-dark btn-sm mt-4" 
        style="box-shadow: 0px 3px 3px rgb(152, 152, 152);">Previous</a>
        {% endif %}
        {% if get_cat_prod.total>8 %}
        {% for page_num in get_cat_prod.iter_pages(left_edge=1,right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if get_cat_prod.page == page_num %}
                    <a href="{{url_for('get_category', id=get_cat.id,page=page_num)}}" class="btn btn-dark btn-sm mt-4" 
                    style="box-shadow: 0px 3px 3px rgb(152, 152, 152);">{{page_num}}</a>
                {% else %}
                    <a href="{{url_for('get_category', id=get_cat.id, page=page_num)}}" class="btn btn-outline-dark btn-sm mt-4" 
                    style="box-shadow: 0px 3px 3px rgb(152, 152, 152);">{{page_num}}</a>
                {% endif %}
            {% else %}
            ...
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if get_cat_prod.has_next%}
        <a href="{{url_for('get_category', id=get_cat.id ,page=get_cat_prod.next)}}" class="btn btn-dark btn-sm mt-4" 
        style="box-shadow: 0px 3px 3px rgb(152, 152, 152);">Next</a>
        {% endif %}

    </div>
    </div>
    <!-- TODOS PRODUTOS-->
    <div class="row">
    {% else %}
        {% for product in products.items %}
        <div class="col-md-3 mt-3">
            <div class="card" style="box-shadow: 0px 3px 3px rgb(152, 152, 152); max-height: 400px;">
                <h4 class="text-center" style="margin-top: 5px;">{{product.name}}</h4>
                <img src="{{url_for('static', filename='images/' + product.image_1)}}" height="180" style="margin-top: 10px;">
                <div class="card-body"> 
                    {% if product.discount > 0 %}
                        <p class="text-center" style="text-shadow: 1px 1px 1px grey; color: red; font-weight: bold; margin-bottom: 5px; font-size: 25px;">-{{product.discount}}%</p>
                    {% endif %}
                    <h5 class="text-center" style="text-shadow: 0px 1px 1px rgb(109, 109, 109); font-size: 150%; margin-bottom: 75px; z-index: -1;">{{product.price}}$</h5>
                </div>              
                <div class="card-footer" style="min-height: 60px;">
                    <a href="{{url_for('single_page', id=product.id)}}" class="float-left btn btn-sm btn-primary" style="box-shadow: 0px 3px 3px rgb(107, 107, 107);">Details</a>
                    <form action="{{url_for('AddCart')}}" method="post">
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        <button type="submit" class="float-right btn btn-sm btn-success" style="box-shadow: 0px 3px 3px rgb(107, 107, 107);">Add Cart</button>                       
                        <input type="hidden" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
                        {% set colors = product.colors.split(',') %}                        
                        <select name="colors" id="colors" style="visibility: hidden;">
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--BOTÕES/NÚMEROS DE PÁGINAS (PRODUTOS)-->
    <div class="row">
        <div class="col text-center">
        {% if products.has_prev%}
        <a href="{{url_for('home', page=products.prev_num)}}" class="btn btn-dark btn-sm mt-4" style=" box-shadow: 0px 3px 3px rgb(152, 152, 152);">Previous</a>
        {% endif %}
        {% if products.total>8 %}
        {% for page_num in products.iter_pages(left_edge=1,right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if products.page == page_num %}
                    <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-dark btn-sm mt-4" style="box-shadow: 0px 3px 3px rgb(152, 152, 152);">{{page_num}}</a>
                {% else %}
                    <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-dark btn-sm mt-4" style="box-shadow: 0px 3px 3px rgb(152, 152, 152);">{{page_num}}</a>
                {% endif %}
            {% else %}
            ...
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if products.has_next%}
        <a href="{{url_for('home', page=products.next)}}" class="btn btn-dark btn-sm mt-4" style="box-shadow: 0px 3px 3px rgb(152, 152, 152);">Next</a>
        {% endif %}
    </div>

    {% endif %}    
</div>
<!--FOOTER-->
<footer class="text-centert"  style="margin-top: 20%;">
    <div class="text-center p-3" style="color: rgb(240, 240, 240); text-shadow: 0px 2px 2px rgb(0, 1, 2);">
      © 2022 Designed by
      <a class="text-center" href="http://www.github.com/eduardoaoc" style="color: rgb(240, 240, 240); font-style: bold; 
      font-size: 20px; text-shadow: 0px 2px 2px rgb(0, 1, 2);">Eduardo A.</a>
    </div>
</footer>

{% endblock content %}
