{% extends 'layout.html' %}

{% block content %}

{% include '_messages.html' %}
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
            <a class="btn btn-outline-dark" href="/admin">Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-outline-dark" style="margin-left: 5px;" aria-current="page" href="/admin">Home</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-dark" style="margin-left: 5px;" href="/brands">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-dark" style="margin-left: 5px;" href="/category">Categories</a>
                </li>
                <div class="dropdown" style="margin-left: 5px;">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>

                </ul>
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="margin-left: 5px;">
                <button class="btn btn-outline-success" type="submit" style="margin-left: 5px;">Search</button>
                </form>
            </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <table class="table table-sm table-condensed table-striped table-hover">
            <thead>
                <th>ID</th>
                <th>Product</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Brand</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.discount}}</td>
                    <td>{{product.brand.name}}</td>
                    <td><img src="{{url_for('static', filename='images/' + product.image_1)}}" width="35" height="40"></td>
                    <td><a href="{{url_for('updateproduct', id=product.id)}}" class="btn btn-sm btn-outline-info">Edit</a></td>
                    <td><a href="" class="btn btn-sm btn-outline-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}