{% extends "layout.html" %} 

{% block content %}

<div class="container">
    {% include '_messages.html'%}
    {% from "_formhelpers.html" import render_field %}
    <div class="text-center h1 text-white bg-dark bg-gradient" style="text-shadow: 2px 3px 3px black;font-family:Verdana; height: 55px; border-radius: 5px; margin-top: 5px;">Register</div>
    <form method='post' enctype="multipart/form-data">
        <div>
            
            {{render_field(form.name, class='form-control', required=True)}}
            {{render_field(form.username, class='form-control', required=True)}}
            {{render_field(form.email, class='form-control', required=True)}}
            {{render_field(form.password, class='form-control', required=True)}}
            {{render_field(form.confirm, class='form-control', required=True)}}

            <input type="file" name="photo">
        </div>
        <p><input type=submit value='Register' class="btn btn-success" style="margin-top: 10px;"></p>
    </form>
</div>
<footer class="text-centert"  style="margin-top: 20%;">
    <div class="text-center p-3" style="color: rgb(240, 240, 240); text-shadow: 0px 2px 2px rgb(0, 1, 2);">
      © 2022 Designed by
      <a class="text-center" href="http://www.github.com/eduardoaoc" style="color: rgb(240, 240, 240); font-style: bold; 
      font-size: 20px; text-shadow: 0px 2px 2px rgb(0, 1, 2);">Eduardo A.</a>
    </div>
</footer>

{% endblock content %}
